body{
  background-color: #F5F6F6;
}
.main_einteilung{
  display: grid;
  grid-template-rows: 3.5rem 1fr 100px;
  grid-template-columns: 1fr;
}
.kacheln{
  display: grid;
  text-align: center;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 50% 50%;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
}
.info_hidden{
  display: none;
}
.kachel_container{
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0.5rem;
}
.main_inhalt{
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--content-width);
}
.nav_leiste{
  width: 100%;
  background-color: var(--color-brand);
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.nav_leiste div{
  text-align: center;
}
.nav_leiste ul{
  display: flex;
  align-items: center;
  margin: 0;

}
.nav_leiste ul li {
  list-style: none;

}
.list_home{
  margin: auto;
}
.kachel_icon{
  margin-right: 1rem;

}
.without_linkstyle{
  text-decoration: none;
}
footer{
  font-size: 0.7rem;
  text-align: center;
  width:100%;
  padding-top: 2rem;
}
.kachel_button{
  width: 100%;
  margin-top: auto;
  margin-bottom: 1rem;
  color: #666;
}
.kachel_button:hover{
  cursor: pointer;
  color: var(--color-brand);
}
.vr_kachel{
  text-align: center;
}

.kachel_video{
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}
.spiel_main{
  text-align: center;
}
.scratch_frame{
  margin: 2rem;
}
.spiel_navigation{
  display: flex;
	align-items: center;
  justify-content: center;
}
.spiel_navigation_pfeil:visited{
  color: #666;
}
.spiel_navigation_pfeil:hover{
  color: var(--color-brand);
}
.btn{
  background-color: var(--color-brand);
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  padding: 12px 28px;
  border-radius: 0.5rem;
  cursor: pointer;
}
.btn_alleSpiele{
  margin-top: 3rem;
}
.spielliste_table{
  width: 100%;
  text-align: left;
  border-spacing: 0;

}
.spielliste_table a{
  color: #666;
}
tr{
  border: none;
  background-color: #dddddd;

}
.table_head{
  background-color: inherit;
}
.spielliste_table:nth-child(even) {
    background-color: #dddddd;
}
th{
  border-bottom: 6px solid var(--color-brand);
}
th, td{
  padding: 15px;
}
.platzhalter{
  margin-top: 2rem;
}
.back_div i,.back_text{
  color: white;
}
.back_div{
  /* cursor: pointer; */
}
.back_div i{
  position: relative;
  z-index: 6;
  background-color: var(--color-brand);
  padding-left: 5px;
}
/* Animationen
-----------------------------------------------------------------------------*/
.slide-in {
  opacity: 0.99;
  z-index: -1;
  transform: translateX(-18rem);
  -webkit-transform: translateX(-18rem);
}

.slide-in-content {
  transform: translate(0);
  -webkit-transform: translateX(0);
  transition: all .5s ease; /* our nice transition */
}

/* TYPO
-----------------------------------------------------------------------------*/
.kachel_title{
  margin-bottom: 3rem;
}
.beschreibung_text{
  margin-bottom: 3rem;
}
.fa-heart:hover{
  color: red;
}
.link_home{
  color: white;
  font-size: 1.5rem;
  text-align: center;
}
.beschreibung{
  font-size: 1.5rem;
}
.spiel_title{
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}
.link_creator{
  color: var(--color-brand);
}
.back_text{
  display: inline-block;
  padding-top: 6px;
  padding-left: 5px;
}
/* Media Querrys
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 1000px){
  .kacheln{
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .beschreibung{
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media only screen and (max-width: 750px){
  .spiel_main{
    display: none;
  }
  .spielliste{
    display: none;
  }
  .info_hidden{
    display: block;
  }
}
@media only screen and (max-width: 580px){
  .back_text{
    display: none !important;
  }
  .nav_leiste{
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
  }
}
